:root {
  --brand-primary: rgb(218, 241, 240);
  --brand-secondary: rgb(30, 58, 117);
  --folder-color: rgb(236, 211, 98);
}

*,
body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
}

a:link {
  color: var(--brand-secondary);
  text-decoration: none;
}

#header-bar {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--brand-primary);
  height: 10vh;
  padding: 0 2rem;
  width: 100%;
}

.header-title {
  font-weight: 300;
  color: var(--brand-secondary);
  font-style: oblique;
  font-size: 3rem;
}

.header-links {
  display: flex;
  justify-content: space-around;
  width: 10rem;
}

#main-container {
  display: flex;
  height: 90vh;
}

#folder-nav {
  flex: 1;
  background-color: var(--brand-secondary);
  color: white;
  font-size: 1.25rem;
}

#file-viewer {
  flex: 3;
  background-color: rgb(165, 165, 165);
  margin-right: 0;
  margin-left: auto;
  box-sizing: border-box;
  box-shadow: inset 0 0 10px #000000b7;
}

#folder-list {
  margin-left: 2rem;
  margin-top: 3rem;
}

#folder-list,
ul {
  list-style-type: none;
}

.folder-closed-icon,
.file-icon {
  cursor: pointer;
}

.icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  margin-right: 0.75rem;
  font-family: "FontAwesome";
}

.folder-closed-icon::before {
  content: "\f07b";
  color: var(--folder-color);
}

.folder-open-icon::before {
  content: "\f07c";
  color: var(--folder-color);
}

.file-icon::before {
  content: "\f15b";
  font-size: 1rem;
}

.nested {
  display: none;
}

.active {
  display: block;
  margin-left: 1rem;
}

.infinite-title {
  text-align: center;
  margin-top: 2rem;
}

#scroll-container {
  width: 80%;
  margin: 2rem auto;
}

#scroll-container div {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid var(--brand-primary);
  box-shadow: 2px 2px 8px rgb(192, 192, 192);
}

#scroll-container div h3 {
  padding-bottom: 1rem;
}

footer p {
  text-align: center;
  font-size: 3rem;
}
