.none {
	display: none;
}

#all {
	background-color:rgba(0,0,0,0.7);
	margin-top: 25px;
	width: 	90%;
	height: 80%;
	padding: 10px 15px 25px 50px;
		
}

#theTitle {
	font-size: 5em;
	font-family: 'Permanent Marker', cursive;
}

.question {
	padding: 25px 0px 5px 0px;
}